body {
    font-family: Arial, sans-serif;
    text-align: center;
}

#gameContainer {
    display: inline-block;
}

.row {
    display: flex;
}

.cell {
    width: 40px; /* Largura de cada célula */
    height: 40px; /* Altura de cada célula */
    font-size: 30px; /* Tamanho do emoji */
}
